@import "../../../variables.scss";

.dialog {
    margin: 0;
    padding: 0;
}
.dialog-content {
    margin: 0;
    padding: 0;
    background-color: $dark-background-contrast;
    min-height: 500px;
    min-width: 300px;
}