@import "../../../variables.scss";

.dialog-content {
  border: none;
  margin: 0;
  padding: 0;
  background-color: $dark-background;
  min-height: 500px;
  max-height: 700px;
  width: 270px;
  border-radius: 0;
  @media (max-width: 385px) {
    max-width: 230px;
  }

  .sign-up,
  .log-in {
    max-height: 650px;
    .switch-tabs {
      margin-top: 35px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      gap: 10px;
      font-size: 0.95rem;
      .switch-tabs-text__left {
        color: rgb(201, 201, 201);
      }
      .switch-tabs-text__right {
        color: $main-theme-color;
        font-weight: 600;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
