@import "variables.scss";

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $dark-background;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

