$main-theme-color: rgb(205, 168, 139);
$main-theme-color-hover: rgb(226, 189, 161);
$main-theme-color-semi-transparent: rgb(205, 168, 139, 0.2);

$dark-background: rgb(25, 25, 25);
$dark-background-contrast: rgb(44, 44, 44);

$text-grey: rgb(144, 144, 144);
$text-grey-lighter: rgb(207, 207, 207);
$main-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
