@import "variables.scss";

.hero-button {
  margin-top: 10px;
  button {
    font-family: sans-serif;
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    background-color: $dark-background-contrast;
    color: $main-theme-color;
    height: 45px;
    width: 180px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 0px black;
    &:hover {
      cursor: pointer;
    }
  }
}
