@import "variables.scss";

.invite-friend {
  color: $text-grey-lighter;
  padding: 20px 20px;
  background-color: $dark-background-contrast;
  border-radius: 10px;
  .invite-friend__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .invite-friend__text__upper {
      font-size: 0.95rem;
    }
    .invite-friend__text__lower {
      font-size: 1.1rem;
      font-weight: 600;
      color: $main-theme-color;
    }
  }

  .invite-friend__link-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    .invite-friend__link {
      padding: 7px 9px;
      padding-right: 15px;
      background-color: $dark-background;
      font-size: 0.85rem;
      border: 1px solid rgb(75, 75, 75);
      color: $text-grey-lighter;
    }

    .copy-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      height: 32px;
      width: 32px;
      background-color: $main-theme-color;
      &:hover {
        cursor: pointer;
        background-color: $main-theme-color-hover;
      }
      .icon {
        color: white;
      }
    }
    .copy-button.copied {
      box-shadow: 0 0 5px 0.5px #fff;
    }
  }
}
