@import "variables.scss";

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: $dark-background-contrast;
  padding: 15px;
  min-width: 250px;
  max-width: 300px;
  color: $text-grey-lighter;
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: $dark-background;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(205, 168, 139, 0.5);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(205, 168, 139, 0.8);
  }

  .message-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 200px;
    overflow-y: auto;
    .message {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      gap: 4px;
      padding-right: 5px;
      .message__author {
        display: flex;
        align-items: flex-end;
        font-size: 0.85rem;
        color: $text-grey;
      }

      .message__content {
        display: flex;
        align-items: flex-end;
        font-size: 0.95rem;
        word-break: break-all;
      }
    }
    .message.system-message {
      padding: 5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.85rem;
      color: $main-theme-color;
    }
  }
}
