.burger-menu-button {
  display: none;
  margin-right: 30px;
  @media (max-width: 868px) {
    display: flex;
  }

  @media (max-width: 400px) {
    margin-right: 10px;
  }

  .icon {
    color: rgb(208, 208, 208);
  }
}
