@import "variables.scss";

.player-window {
  display: flex;
  gap: 10px;
  img {
    height: 50px;
  }
  .player-window__info {
    display: flex;
    gap: 10px;
    .player-window__name {
      color: $main-theme-color;
      font-size: 0.95rem;
      font-weight: 600;
    }
    .player-window__rating {
      font-size: 0.95rem;
      font-weight: 600;
      color: $text-grey-lighter;
    }
  }
}
