@import "../../variables.scss";

.hero-page {
  background-color: $dark-background;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 240px;
    margin-left: 65px;
    max-width: 650px;
    .hero-text {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 2.9rem;
      font-weight: bold;
      color: $main-theme-color;
      text-transform: uppercase;
    }
    .hero-sub-text {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 0.95rem;
      color: $text-grey;
    }
  }
  .circle-pattern__left {
    position: absolute;
    bottom: 5px;
    left: -3px;
  }
  .circle-pattern__right {
    position: absolute;
    top: 130px;
    right: -3px;
  }
  .board-3d {
    visibility: 0;
    max-width: 650px;
    position: absolute;
    top: 25%;
    right: 4%;
  }
}
