@import "../../variables.scss";

.hero-page {
  background-color: $dark-background;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 35vh;
    margin-left: 65px;
    padding-right: 65px;
    max-width: 650px;
    z-index: 1;
    .hero-text {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 2.9rem;
      font-weight: bold;
      color: $main-theme-color;
      text-transform: uppercase;
    }
    .hero-sub-text {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 0.95rem;
      color: $text-grey;
      line-height: 1.4rem;
    }
    @media (max-width: 600px) {
      margin-left: 35px;
      padding-right: 35px;
      margin-top: 30vh;
      .hero-text {
        font-size: 2.3rem;
      }
      .hero-sub-text {
        font-size: 0.8rem;
      }
    }
    @media (max-width: 400px) {
      .hero-text {
        font-size: 1.9rem;
      }
      .hero-sub-text {
        font-size: 0.8rem;
      }
    }
  }
  .board-3d {
    visibility: 0;
    max-width: 650px;
    position: absolute;
    top: 25%;
    right: 4%;

    @media (max-width: 1350px) {
      max-width: 450px;
      top: 35%;
      right: 3%;
    }
    @media (max-width: 1130px) {
      max-width: 380px;
      top: 35%;
      right: 2%;
    }
    @media (max-width: 1040px) {
      display: none;
    }
    @media (min-width: 1800px) {
      top: 30%;
    }
  }
}
