@import "variables.scss";

.dialog-content {
  min-height: 350px;
  max-height: 450px;
}
.promotion__dialog {
  font-family: $main-font-family;
  h3 {
    color: $main-theme-color;
    text-align: center;
  }
  display: flex;
  flex-direction: column;
  gap: 50px;
  .promotion__buttons {
    .hero-button {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
